---
interface Props {
  pilar: "draw" | "photo";
  title: string;
}

const { pilar } = Astro.props;
const { title } = Astro.props;

interface ImageContent {
  alt: string;
  src: string;
}

interface Image {
  draw: ImageContent[];
  photo: ImageContent[];
}

const PREFIX = "/src/assets/gallery";

const images: Image = {
  draw: [
    { alt: "Chair", src: `${PREFIX}/draw/chair.jpeg` },
    {
      alt: "Gray Background",
      src: `${PREFIX}/draw/gray_background_2.jpeg`,
    },
    { alt: "Red Background", src: `${PREFIX}/draw/red_background.jpeg` },
    {
      alt: "Green Background",
      src: `${PREFIX}/draw/green_background.jpeg`,
    },
  ],
  photo: [
    { alt: "Logo Brick", src: `${PREFIX}/photo/logo_brick.jpeg` },
    {
      alt: "Gray Background",
      src: `${PREFIX}/photo/gray_background.jpeg`,
    },
    { alt: "Red Background", src: `${PREFIX}/photo/green_background_2.jpeg` },
    {
      alt: "Table",
      src: `${PREFIX}/photo/table.jpeg`,
    },
  ],
};
---

<section>
  <div class="container">
    <div class="title">
      <h1>{title}</h1>
    </div>
    <div class="gallery">
      {images[pilar].map((image) => <img src={image.src} alt={image.alt} />)}
    </div>
  </div>
</section>

<style>
  section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .title {
    width: 100%;
    text-align: center;
    color: white;
  }

  h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gallery {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  img {
    width: 200px;
    max-width: 400px;
    object-fit: cover;
    object-position: center;
  }

  @media (width > 768px) {
    h1 {
      font-size: 2.5rem;
    }

    section {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {
      width: 90%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .gallery {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
    }

    img {
      width: 500px;
      object-fit: cover;
      object-position: center;
      margin: 10px;
    }
  }

  @media (width > 1024px) {
    img {
      width: 20%;
      object-fit: cover;
      object-position: center;
      margin: 10px;
    }
  }
</style>
